In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.1.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,431 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,365 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,802 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,210 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [922 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,801 kB]
Get:22 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.8 kB]
Fetched 11.9 MB in 4s (2,720 kB/s)
Reading package lists... Done

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [3]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Musical_Instruments_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)
df.show(10)

+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|   product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   45610553| RMDCHWD0Y5OZ9|B00HH62VB6|     618218723|AGPtek® 10 Isolat...|Musical Instruments|          3|            0|          1|   N|                N|         Three Stars|Works very good, ...| 2015-08-31|
|         US|   14640079| RZSL0BALIYUNU|B003LRN53I|     986692292|Sennheiser HD203 ...|Musical Instruments|          5|            0|          0|   N|                Y|          Five Stars|Nice headphones a...| 2015-08-31|
|         US|    6111003| RIZR67JKUDBI0|B0006VMBHI|     603261968|AudioQuest LP rec...|Musical Instruments|          3|            0|          1|   N|                Y|         Three Stars|removes dust. doe...| 2015-08-31|
|         US|    1546619|R27HL570VNL85F|B002B55TRG|     575084461|Hohner Inc. 560BX...|Musical Instruments|          5|            0|          0|   N|                Y|I purchase these ...|I purchase these ...| 2015-08-31|
|         US|   12222213|R34EBU9QDWJ1GD|B00N1YPXW2|     165236328|Blue Yeti USB Mic...|Musical Instruments|          5|            0|          0|   N|                Y|          Five Stars|This is an awesom...| 2015-08-31|
|         US|   46018513|R1WCUI4Z1SIQEO|B001N4GRGS|     134151483|Middle Atlantic P...|Musical Instruments|          5|            0|          0|   N|                N|          Five Stars|Used to cool equi...| 2015-08-31|
|         US|   10225065| RL5LNO26GAVJ1|B009PJRMHQ|     694166585|Kmise 1pc Pickgua...|Musical Instruments|          2|            3|          4|   N|                Y|Will not Fit Epip...|Note- Does not Fi...| 2015-08-31|
|         US|    6356995|R3GYQ5W8JHP8SB|B00NKBDAZS|     446431775|Kealoha Concert U...|Musical Instruments|          5|            0|          0|   N|                Y|          Five Stars|Well built Ukulel...| 2015-08-31|
|         US|   35297198|R30SHYQXGG5EYC|B006MIU7U2|     125871705|Halco 80000 - MR1...|Musical Instruments|          5|            0|          0|   N|                Y|Works fine. Hope ...|Had to replace a ...| 2015-08-31|
|         US|   32139520|R14YLXA56NP51I|B000FIBD0I|     771888534|Gator GPTBLACK Pl...|Musical Instruments|          5|            1|          1|   N|                N|I upgraded the po...|I've owned multip...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 10 rows

In [36]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 
# to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
import pandas as pd
from pyspark.sql.functions import to_date
vine_df = df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"]).filter("total_votes>=20")
vine_pddf = vine_df.toPandas()
vine_pddf.dtypes

review_id            object
star_rating           int32
helpful_votes         int32
total_votes           int32
vine                 object
verified_purchase    object
dtype: object

In [44]:
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows 
# vwhere the number of helpful_votes divided by total_votes is equal to or greater than 50%.

vine_pddf['ratio'] = vine_pddf.helpful_votes / vine_pddf.total_votes #creating a new column with the ratio
vine_pddf_filtered = vine_pddf['ratio']>=0.5 #creating the filer boolean
vine_ready = vine_pddf[vine_pddf_filtered] #using the boolean, creating a filtered view of the table
vine_ready

            review_id  star_rating  ...  verified_purchase     ratio
0      R2243Y3OD8U6KQ            5  ...                  N  0.770492
1      R2TGT0CDTCAAHW            5  ...                  Y  0.913043
2       RX4D22YSXEF4P            1  ...                  Y  0.973684
3      R3FL2NTLFUSPTQ            5  ...                  N  0.891892
4      R3QTP3YNZXAPPF            3  ...                  Y  0.958333
...               ...          ...  ...                ...       ...
16515  R2EJ952S3YK254            4  ...                  N  0.978723
16516   R6MDTUK723YPY            4  ...                  N  0.966216
16517  R10B4417NCK98O            5  ...                  N  1.000000
16518  R3V2A0GUZ3JAQ4            4  ...                  N  0.931034
16519  R1VYXC7FFG4LGH            4  ...                  N  0.938776

[14537 rows x 7 columns]

In [48]:
# Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows 
# where a review was written as part of the Vine program (paid), vine == 'Y'.
vine_y = vine_ready['vine']=='Y'
vine_yes = vine_ready[vine_y]
vine_yes.head(20)

           review_id  star_rating  ...  verified_purchase     ratio
22    R1R9RU7JW0MFR2            4  ...                  N  0.869565
45    R19EFYNN3W8Q07            5  ...                  N  0.812500
183   R34DJ1R8AEU0SG            5  ...                  N  0.828571
209   R25P5CXK5L9RHF            5  ...                  N  0.906832
262   R2E9VZB3I4LSN5            5  ...                  N  0.932203
386    RKYLHZL7EPELX            4  ...                  N  0.760000
887   R1U13EKGQD3ZE6            5  ...                  N  0.880000
956    RYW05F1MUEF01            5  ...                  N  0.852941
1127  R2SW4NXNO7HZJ5            4  ...                  N  0.848485
1180  R2016NFLSUR97Y            2  ...                  N  0.702703
1549   RFCV9QXJ3D79X            3  ...                  N  0.909091
1586  R36779ZAY4ZT0Y            3  ...                  N  0.920000
1610  R13PPTBWWV10Q6            5  ...                  N  0.760000
1883  R2A3FFNJTDUBMV            5  ...                  N  0.740741
1942  R3QQG4HUB214TM            5  ...                  N  0.867188
1945  R3J9OSJNJB7KGM            5  ...                  N  0.875000
1947   RIMYDUAAFXY2U            5  ...                  N  0.956522
2104  R22CYBPLKWDK6F            5  ...                  N  0.870370
2134  R1ETBDZ1LJ8CEL            4  ...                  N  0.875000
2148  R28T5ISQ8AA7E5            5  ...                  N  0.952381

[20 rows x 7 columns]

In [49]:
# Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
vine_n = vine_ready['vine']=='N'
vine_no = vine_ready[vine_n]
vine_no.head(20)

         review_id  star_rating  helpful_votes  ...  vine verified_purchase     ratio
0   R2243Y3OD8U6KQ            5             47  ...     N                 N  0.770492
1   R2TGT0CDTCAAHW            5             21  ...     N                 Y  0.913043
2    RX4D22YSXEF4P            1             37  ...     N                 Y  0.973684
3   R3FL2NTLFUSPTQ            5             33  ...     N                 N  0.891892
4   R3QTP3YNZXAPPF            3             23  ...     N                 Y  0.958333
5   R36V6V42VN5AS5            5             34  ...     N                 Y  0.918919
6   R27LZWE27BJPOB            5             22  ...     N                 N  0.956522
9   R1P7GJ0IN2BRNH            5             37  ...     N                 Y  1.000000
10  R2R6JPF9KOD2HJ            5             19  ...     N                 Y  0.950000
12  R2J0ZZGFXKM8KR            2             21  ...     N                 Y  0.954545
13  R238ZSG6TSUBNX            5             27  ...     N                 Y  1.000000
15   RC6Y8GYIQZ8YU            3             72  ...     N                 Y  0.847059
16   RFL3TJED8C240            5             13  ...     N                 N  0.541667
17  R3D4P7A8Q1C70F            5             22  ...     N                 Y  0.814815
18  R3PRNAQVQBB9M6            1             21  ...     N                 Y  0.700000
19  R2NTTIW5KBKLYG            5             19  ...     N                 N  0.950000
20  R3JNDLZ3KACRLG            5             29  ...     N                 N  0.878788
21  R1PVVYYY0Q1HZ0            5             21  ...     N                 Y  1.000000
23  R1G9N0CW2982PA            5             21  ...     N                 Y  0.875000
25  R2N8ZFHQBWHMDL            2             26  ...     N                 Y  0.928571

[20 rows x 7 columns]

In [50]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

# total number of paid reviews
num_paid = len(vine_yes)
num_paid

60

In [51]:
# total number of unpaid reviews
num_unpaid = len(vine_no)
num_unpaid

14477

In [52]:
# paid, number of 5-start reviews
five_star_paid = len(vine_yes[vine_yes["star_rating"]==5])
five_star_paid

34

In [53]:
# unpaid, number of 5-star review
five_star_unpaid = len(vine_no[vine_no["star_rating"]==5])
five_star_unpaid

8212

In [60]:
# percentage of 5-star reviews , for paid
fivestar_ratio_paid = five_star_paid / num_paid
percentage_paid = "{:.0%}".format(fivestar_ratio_paid)
percentage_paid

'57%'

In [61]:
# percentage of 5-star reviews , for unpaid
fivestar_ratio_unpaid = five_star_unpaid / num_unpaid
percentage_unpaid = "{:.0%}".format(fivestar_ratio_unpaid)
percentage_unpaid

'57%'